
@charset "utf-8";

body {
	background-color: #e2fcf9;
}
h1{
    text-align: center;
}

#editor{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    padding: auto;
    background-color: white;
}
#fonttexte{
	background-color: #fafafa;
}

#options{
    text-align: center;
    padding-top: 20px;
}

button{
    margin: 2px;
}
